.info {
	font-size: 16px;
	padding: 14px;
	padding-bottom: 69px;
	background-color: #ffffff;
	border-radius: 10px;
	position: sticky;
	@include r(1260) {
		padding: 0px;
		margin-bottom: 20px;
	}
	&__logo {
		display: block;
		width: 100%;
		margin-bottom: 28px;
		@include r(1260) {
			display: none;
		}
		img {
			// width: 100%;
			// display: block;
			width: 75%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__line {
		padding-top: 12px;
		padding-bottom: 12px;
		border-bottom: 2px solid #F4F8F8;
		@include r(1260) {
			display: none;
		}
		&:last-of-type {
			margin-bottom: 22px;
		}
	}
	&__btn {
		background: $red;
		display: block;
		border-radius: 6px;
		color: $light;
		font-weight: bold;
		padding: 10px;
		font-size: 14px;
		text-decoration: none;
		text-align: center;
		&:hover {
			opacity: 0.7;
		} 
	}
	&__title {
		margin-bottom: 9px;
		&--text {
			font-weight: bold;
			font-size: 12px;
			text-transform: uppercase;
			color: #333333;
		}
	}
	&__block {
		display: flex;
	}
}

.change {
	width: calc(100% / 3);
	&__title {
		display: flex;
		align-items: center;
		span {
			font-weight: bold;
			font-size: 12px;
			line-height: 16px;
			color: #CAD4D4;
			margin-right: 6px;
		}
		svg {
			height: 6px;
			width: 8px;
			display: none;
		}
		&--up {
			svg {
				&:nth-child(1) {
					display: block;
				}
				&:nth-child(2) {
					display: block;
				}
			}
		}
		&--down {
			svg {
				&:nth-child(2) {
					display: block;
				}
				&:nth-child(1) {
					display: block;
				}
			}
		}
	}
	&__content {
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
	}
}

.weather {
	display: flex;
	align-items: center;
	&__icon {
		width: 30px;
		height: 30px;
		margin-right: 7px;
		background-size: auto;
		background-position: center;
		background-repeat: no-repeat;
	}
	&__text {

	}
}