.player {
	padding-top: 11px;
	padding-bottom: 13px;
	@include r(1260) {
		background-color: $light;
	}
	&__container {
		display: flex;
		align-items: center;
	}
	&__btn {
		flex-shrink: 0;
		width: 38px;
		height: 38px;
		border: none;
		border-radius: 50px;
		background-color: $red;
		transition: 0.3s all;
		margin-right: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&:hover {
			opacity: 0.7;
			border: none;
		}
		svg {
			position: relative;
			// left: 1px;
		}
		&--disabled {
			pointer-events: none;
			opacity: 0.6;
			svg {
				display: none;
			}
			.loading {
				display: block;
			}
		}
		&--playing {
			.player__btn-icon--play {
				display: block;
			}
			.player__btn-icon--pause {
				display: none;
			}
		}
		&--pause {
			.player__btn-icon--play {
				display: none;
			}
			.player__btn-icon--pause {
				display: block;
			}
		}
	}
	&__content {
		flex-grow: 1;
		min-width: 0px;
	}
	&__nav {
		display: flex;
		justify-content: flex-start;
		color: #6F8488;
		margin-bottom: 3px;
	}
	&__line {
		overflow: hidden;
		white-space: nowrap;
	}
	&__title {
		margin-right: 10px;
	}
	&__article {
		position: relative;
		padding-right: 28px;
		margin-right: 20px;
		width: fit-content;
		&:after {
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
			display: block;
			content: "";
			height: 8px;
			width: 8px;
			background-color: $red;
			border-radius: 10px;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}

.swiper-wrapper {
	transition-timing-function: linear !important;
}

.nav {
	padding-top: 9px;
	padding-bottom: 9px;
	color: $light;
	background-color: $accent;
	@include r(1260) {
		display: none;
	}
	&--search {
		.h-search {
			display: flex;
		}
		.nav__links {
			visibility: hidden;
		}
		.nav__toolbar {
			visibility: hidden;
		}
	}
	&__container {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	&__links {
		border-right: 2px solid $light;
		width: calc(100% / 12 * 8);
	}
	&__link {
		text-decoration: none;
		color: $light;
		line-height: 44px;
		font-weight: 600;
		font-size: 18px;
		display: inline-block;
		margin-right: 3%;
		&:hover {
			opacity: 0.7;
		}
		&:last-child {
			margin-right: 0px;
		}
	}
	&__toolbar {
		flex-grow: 1;
		min-width: 0px;
		display: flex;
		justify-content: space-between;
		padding-left: 50px;
		align-items: center;
	}
	&__link-all {
		text-decoration: none;
		color: $light;
		line-height: 44px;
		font-weight: 600;
		font-size: 18px;
		display: inline-flex;
		align-items: center;
		&:hover {
			opacity: 0.7;
		}
		svg {
			margin-left: 30px;
			width: 24px;
			position: relative;
			top: 2px;
		}
	}
	&__search-btn {
		background: none;
		width: 24px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0px;
		border: none;
		transition: 0.3s all;
		&:hover {
			opacity: 0.7;
			cursor: pointer;
		}
		svg {
			fill: $light;
			width: 20px;
			height: 20px;
		}
	}
}

.h-search {
	background-color: $accent;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding-left: 15px;
	padding-right: 15px;
	display: none;
	align-items: center;
	&__input {
		height: 100%;
		box-sizing: border-box;
		flex-grow: 1;
		margin-right: 20px;
		border: none;
		background: none;
		color: $light;
		font-family: $font-main;
		font-weight: 600;
		font-size: 18px;
		&::placeholder {
			color: $light;
			font-family: $font-main;
			font-weight: 600;
			font-size: 18px;
		}
	}
	&__toolbar {
		flex-shrink:0;
		display: flex;
		align-items: center;
		height: 100%;
	}
	&__sep {
		height: 100%;
		width: 2px;
		background-color: $light;
		display: block;
	}
	&__btn {
		width: 44px;
		height: 44px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border: none;
		background: none;
		transition: 0.3s all;
		cursor: pointer;
		&:hover {
			opacity: 0.7;
		}
		&--submit {

		}
		&--close {

		}
	}
}

.loading {
	position: relative;
	margin: 10% auto;
	width: 20px;
	height: 20px;
	display: none;
	border-radius: 40px;
	-webkit-box-sizing: border-box;
	border: solid 4px rgba(255, 103, 0, 0.2);
	border-top-color: $light;
	-webkit-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}