.feed {
	background-color: #ffffff;
	margin-bottom: 20px;
	padding: 20px 20px 25px 20px;
	border-radius: 10px;
	@include r(1260) {
		padding: 0px;
		background: none;
	}
	&__title {
		padding-bottom: 18px;
		border-bottom: 2px solid #F4F8F8;
		font-weight: 600;
		font-size: 24px;
		text-transform: uppercase;
	}
	&__day {
		border-bottom: 2px solid #F4F8F8;
		margin-bottom: 20px;
		&:last-of-type {
			border: none;
		}
	}
	&__day-title {
		font-weight: 600;
		font-size: 20px;
		text-transform: uppercase;
		color: $accent;
		margin-bottom: 10px;
	}
	&__article {
		padding-top: 15px;
		padding-bottom: 15px;
		display: flex;
		text-decoration: none;
		border-bottom: 2px solid #F4F8F8;
		color: $dark;
		&:last-of-type {
			border: none;
		}
	}
	&__article-title {
		font-family: $font-title;
		i {
			color: #A9BBBE;
			padding-left: 4px;
			padding-right: 4px;
		}
	}
	&__time {
		color: $accent;
		margin-right: 14px;
	}
}