<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Вполне себе самостоятельная египетская летучая собака</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <div class="container">
            <div class="layout__content">
                @@include("../blocks/modules/layout__sidebar--left/sidebar-left.html")
                <main class="layout__main">
                    <div class="layout__main--top">
                        @@include("../blocks/modules/single/single.html")
                        <div class="single">
                            <h1 class="single__title">
                                У нас для вас одна новость...
                            </h1>
                            <div class="single__content text">
                                <p>
                                    Вы попали на страницу 404. Это значит, что страница, которую вы искали, отсутствует.
                                </p>
                                <p>
                                    <b>Такое случается если:</b>
                                </p>
                                <ul>
                                    <li>
                                        закрылась ошибка в написании адреса
                                    </li>
                                    <li>
                                        она здесь была, но удалена или перенесена в другое место.
                                    </li>
                                </ul>
                                <p>
                                    Делать-то теперь что, спросите вы?
                                </p>
                                <p>
                                    Воспользуйтесь нашим поиском или начните с <a href="/">Главной</a>, там всегда много интересного )
                                </p>
                            </div>
                        </div>
                        <div class="news">
                            <p class="news__title">
                                Новости по этой теме
                            </p>
                            <div class="news__content">
                                <a href="single.html" class="article article--card">
                                    <div class="article__thumb">
                                        <img src="http://placehold.it/900x600" alt="Заголовок новости">
                                    </div>
                                    <div class="article__content">
                                        <div class="tags">
                                            <div class="tags__item">
                                                Общество
                                            </div>
                                        </div>
                                        <h2 class="article__title">
                                            Вполне себе самостоятельная египетская летучая собака
                                        </h2>
                                        <div class="article__toolbar meta">
                                            <i class="fas fa-clock meta__icon"></i>
                                            <time class="meta__time">
                                                5 марта 2020, 12:57
                                            </time>
                                            <i class="fas fa-comment-alt meta__icon"></i>
                                            <span class="meta__comment-count">
                                                25
                                            </span>
                                        </div>
                                        <p class="article__text">
                                            В солнечную, не особо ветреную погоду кое-кого выпускают из закрытых для посетителей павильонов.
                                        </p>
                                    </div>
                                </a>
                                <a href="single.html" class="article article--card">
                                    <div class="article__thumb">
                                        <img src="http://placehold.it/900x600" alt="Заголовок новости">
                                    </div>
                                    <div class="article__content">
                                        <div class="tags">
                                            <div class="tags__item">
                                                Общество
                                            </div>
                                        </div>
                                        <h2 class="article__title">
                                            Вполне себе самостоятельная египетская летучая собака
                                        </h2>
                                        <div class="article__toolbar meta">
                                            <i class="fas fa-clock meta__icon"></i>
                                            <time class="meta__time">
                                                5 марта 2020, 12:57
                                            </time>
                                            <i class="fas fa-comment-alt meta__icon"></i>
                                            <span class="meta__comment-count">
                                                25
                                            </span>
                                        </div>
                                        <p class="article__text">
                                            В солнечную, не особо ветреную погоду кое-кого выпускают из закрытых для посетителей павильонов.
                                        </p>
                                    </div>
                                </a>
                                <a href="single.html" class="article article--card">
                                    <div class="article__thumb">
                                        <img src="http://placehold.it/900x600" alt="Заголовок новости">
                                    </div>
                                    <div class="article__content">
                                        <div class="tags">
                                            <div class="tags__item">
                                                Общество
                                            </div>
                                        </div>
                                        <h2 class="article__title">
                                            Вполне себе самостоятельная египетская летучая собака
                                        </h2>
                                        <div class="article__toolbar meta">
                                            <i class="fas fa-clock meta__icon"></i>
                                            <time class="meta__time">
                                                5 марта 2020, 12:57
                                            </time>
                                            <i class="fas fa-comment-alt meta__icon"></i>
                                            <span class="meta__comment-count">
                                                25
                                            </span>
                                        </div>
                                        <p class="article__text">
                                            В солнечную, не особо ветреную погоду кое-кого выпускают из закрытых для посетителей павильонов.
                                        </p>
                                    </div>
                                </a>
                                <a href="single.html" class="article article--card">
                                    <div class="article__thumb">
                                        <img src="http://placehold.it/900x600" alt="Заголовок новости">
                                    </div>
                                    <div class="article__content">
                                        <div class="tags">
                                            <div class="tags__item">
                                                Общество
                                            </div>
                                        </div>
                                        <h2 class="article__title">
                                            Вполне себе самостоятельная египетская летучая собака
                                        </h2>
                                        <div class="article__toolbar meta">
                                            <i class="fas fa-clock meta__icon"></i>
                                            <time class="meta__time">
                                                5 марта 2020, 12:57
                                            </time>
                                            <i class="fas fa-comment-alt meta__icon"></i>
                                            <span class="meta__comment-count">
                                                25
                                            </span>
                                        </div>
                                        <p class="article__text">
                                            В солнечную, не особо ветреную погоду кое-кого выпускают из закрытых для посетителей павильонов.
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="layout__main--bottom">
                        @@include("../blocks/modules/footer/footer.html")
                    </div>
                </main>
                @@include("../blocks/modules/layout__sidebar--right/sidebar-right.html")
            </div>
        </div>
    </div>
    @@include("../blocks/modules/mmenu/mmenu.html")
    @@include("../blocks/modules/modal/modal.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
