<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Baltic-News</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body body--front">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <div class="container">
            <div class="layout__content">
                @@include("../blocks/modules/layout__sidebar--left/sidebar-left.html")
                <main class="layout__main">
                    <div class="layout__main--top">
                        <!-- В alt не пиши слова в духе "баннер" или "реклама", адблок их блокирует -->
                        <a href="" class="promo-thumb">
                            <img src="img/promo-img-1.jpg" alt="Картинка">
                        </a>
                        <a href="single.html" class="article-main" style="background-image: url('http://placehold.it/900x600');">
                            <picture class="article-main__image-wrap">
                                <source type="image/webp" srcset="img/image-1.webp"></source>
                                <img src="img/image-1.jpg" alt="Заголовок новости">
                            </picture>
                            <div class="article-main__content-wrap">
                                <div class="article-main__content">
                                    <div class="tags">
                                        <span class="tags__item">
                                            Политика
                                        </span>
                                        <span class="tags__item">
                                            Общество
                                        </span>
                                    </div>
                                    <!-- Вот тут ограничь количество символов примерно в 3.5 строки -->
                                    <h2 class="article-main__title">
                                        Летучие собаки нашего зоопарка предпочитают огурцы, мед, бананы Летучие собаки нашего зоопарка предпочитают огурцы, мед, бананы Летучие собаки нашего зоопарка предпочитают...
                                    </h2>
                                    <div class="meta meta--big">
                                        <i class="fas fa-clock"></i>
                                        <time class="meta__time">
                                            5 марта 2020, 12:57
                                        </time>
                                        <i class="fas fa-comment-alt"></i>
                                        <span class="meta__comment-count">
                                            25
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="news">
                            <div class="news__content">
                                <a href="single.html" class="article article--card">
                                    <div class="article__thumb">
                                        <img src="http://placehold.it/900x600" alt="Заголовок новости">
                                    </div>
                                    <div class="article__content">
                                        <div class="tags">
                                            <div class="tags__item">
                                                Общество
                                            </div>
                                        </div>
                                        <h2 class="article__title">
                                            Вполне себе самостоятельная египетская летучая собака
                                        </h2>
                                        <div class="article__toolbar meta">
                                            <i class="fas fa-clock meta__icon"></i>
                                            <time class="meta__time">
                                                5 марта 2020, 12:57
                                            </time>
                                            <i class="fas fa-comment-alt meta__icon"></i>
                                            <span class="meta__comment-count">
                                                25
                                            </span>
                                        </div>
                                        <p class="article__text">
                                            В солнечную, не особо ветреную погоду кое-кого выпускают из закрытых для посетителей павильонов.
                                        </p>
                                    </div>
                                </a>
                                <a href="single.html" class="article article--card">
                                    <div class="article__thumb">
                                        <img src="http://placehold.it/900x600" alt="Заголовок новости">
                                    </div>
                                    <div class="article__content">
                                        <div class="tags">
                                            <div class="tags__item">
                                                Общество
                                            </div>
                                        </div>
                                        <h2 class="article__title">
                                            Вполне себе самостоятельная египетская летучая собака
                                        </h2>
                                        <div class="article__toolbar meta">
                                            <i class="fas fa-clock meta__icon"></i>
                                            <time class="meta__time">
                                                5 марта 2020, 12:57
                                            </time>
                                            <i class="fas fa-comment-alt meta__icon"></i>
                                            <span class="meta__comment-count">
                                                25
                                            </span>
                                        </div>
                                        <p class="article__text">
                                            В солнечную, не особо ветреную погоду кое-кого выпускают из закрытых для посетителей павильонов.
                                        </p>
                                    </div>
                                </a>
                                <a href="single.html" class="article article--card">
                                    <div class="article__thumb">
                                        <img src="http://placehold.it/900x600" alt="Заголовок новости">
                                    </div>
                                    <div class="article__content">
                                        <div class="tags">
                                            <div class="tags__item">
                                                Общество
                                            </div>
                                        </div>
                                        <h2 class="article__title">
                                            Вполне себе самостоятельная египетская летучая собака
                                        </h2>
                                        <div class="article__toolbar meta">
                                            <i class="fas fa-clock meta__icon"></i>
                                            <time class="meta__time">
                                                5 марта 2020, 12:57
                                            </time>
                                            <i class="fas fa-comment-alt meta__icon"></i>
                                            <span class="meta__comment-count">
                                                25
                                            </span>
                                        </div>
                                        <p class="article__text">
                                            В солнечную, не особо ветреную погоду кое-кого выпускают из закрытых для посетителей павильонов.
                                        </p>
                                    </div>
                                </a>
                                <a href="single.html" class="article article--card">
                                    <div class="article__thumb">
                                        <img src="http://placehold.it/900x600" alt="Заголовок новости">
                                    </div>
                                    <div class="article__content">
                                        <div class="tags">
                                            <div class="tags__item">
                                                Общество
                                            </div>
                                        </div>
                                        <h2 class="article__title">
                                            Вполне себе самостоятельная египетская летучая собака
                                        </h2>
                                        <div class="article__toolbar meta">
                                            <i class="fas fa-clock meta__icon"></i>
                                            <time class="meta__time">
                                                5 марта 2020, 12:57
                                            </time>
                                            <i class="fas fa-comment-alt meta__icon"></i>
                                            <span class="meta__comment-count">
                                                25
                                            </span>
                                        </div>
                                        <p class="article__text">
                                            В солнечную, не особо ветреную погоду кое-кого выпускают из закрытых для посетителей павильонов.
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/vx2u5uUu3DE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <a href="" class="promo-thumb">
                            <img src="img/promo-img-4.jpg" alt="Картинка">
                        </a>
                        <div class="news">
                            <p class="news__title">
                                Авторские новости
                            </p>
                            <div class="news__content">
                                <a href="single.html" class="article article--line">
                                    <div class="article__thumb">
                                        <img src="http://placehold.it/900x600" alt="Заголовок новости">
                                    </div>
                                    <div class="article__content">
                                        <span class="article__tag">
                                            Общество
                                        </span>
                                        <h2 class="article__title">
                                            Вполне себе самостоятельная египетская летучая собака
                                        </h2>
                                        <div class="article__toolbar meta">
                                            <i class="fas fa-clock meta__icon"></i>
                                            <time class="meta__time">
                                                5 марта 2020, 12:57
                                            </time>
                                            <i class="fas fa-comment-alt meta__icon"></i>
                                            <span class="meta__comment-count">
                                                25
                                            </span>
                                        </div>
                                        <p class="article__text">
                                            В солнечную, не особо ветреную погоду кое-кого выпускают из закрытых для посетителей павильонов.
                                        </p>
                                    </div>
                                </a>
                                <a href="single.html" class="article article--line">
                                    <div class="article__thumb">
                                        <img src="http://placehold.it/900x600" alt="Заголовок новости">
                                    </div>
                                    <div class="article__content">
                                        <span class="article__tag">
                                            Общество
                                        </span>
                                        <h2 class="article__title">
                                            Вполне себе самостоятельная египетская летучая собака
                                        </h2>
                                        <div class="article__toolbar meta">
                                            <i class="fas fa-clock meta__icon"></i>
                                            <time class="meta__time">
                                                5 марта 2020, 12:57
                                            </time>
                                            <i class="fas fa-comment-alt meta__icon"></i>
                                            <span class="meta__comment-count">
                                                25
                                            </span>
                                        </div>
                                        <p class="article__text">
                                            В солнечную, не особо ветреную погоду кое-кого выпускают из закрытых для посетителей павильонов.
                                        </p>
                                    </div>
                                </a>
                                <a href="single.html" class="article article--line">
                                    <div class="article__thumb">
                                        <img src="http://placehold.it/900x600" alt="Заголовок новости">
                                    </div>
                                    <div class="article__content">
                                        <span class="article__tag">
                                            Общество
                                        </span>
                                        <h2 class="article__title">
                                            Вполне себе самостоятельная египетская летучая собака
                                        </h2>
                                        <div class="article__toolbar meta">
                                            <i class="fas fa-clock meta__icon"></i>
                                            <time class="meta__time">
                                                5 марта 2020, 12:57
                                            </time>
                                            <i class="fas fa-comment-alt meta__icon"></i>
                                            <span class="meta__comment-count">
                                                25
                                            </span>
                                        </div>
                                        <p class="article__text">
                                            В солнечную, не особо ветреную погоду кое-кого выпускают из закрытых для посетителей павильонов.
                                        </p>
                                    </div>
                                </a>
                                <a href="single.html" class="article article--line">
                                    <div class="article__thumb">
                                        <img src="http://placehold.it/900x600" alt="Заголовок новости">
                                    </div>
                                    <div class="article__content">
                                        <span class="article__tag">
                                            Общество
                                        </span>
                                        <h2 class="article__title">
                                            Вполне себе самостоятельная египетская летучая собака
                                        </h2>
                                        <div class="article__toolbar meta">
                                            <i class="fas fa-clock meta__icon"></i>
                                            <time class="meta__time">
                                                5 марта 2020, 12:57
                                            </time>
                                            <i class="fas fa-comment-alt meta__icon"></i>
                                            <span class="meta__comment-count">
                                                25
                                            </span>
                                        </div>
                                        <p class="article__text">
                                            В солнечную, не особо ветреную погоду кое-кого выпускают из закрытых для посетителей павильонов.
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="toolbar">
                            <a href="" class="toolbar__link toolbar__link--top">
                                <svg class="icon-svg">
                                    <use xlink:href="img/sprites/sprite.svg#icon-arrow-top"></use>
                                </svg>
                                <span>
                                    Наверх
                                </span>
                            </a>
                            <a href="" class="toolbar__link toolbar__link--more">
                                <span>
                                    Еще
                                </span>
                                <svg class="icon-svg">
                                    <use xlink:href="img/sprites/sprite.svg#icon-arrow-more"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="layout__main--bottom">
                        @@include("../blocks/modules/footer/footer.html")
                    </div>
                </main>
                @@include("../blocks/modules/layout__sidebar--right/sidebar-right.html")
            </div>
        </div>
    </div>
    @@include("../blocks/modules/mmenu/mmenu.html")
    @@include("../blocks/modules/modal/modal.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
