.single {
	&__title {
		margin-bottom: 22px;
		font-weight: bold;
		font-size: 26px;
		font-family: $font-title;
	}
	&__meta {
		margin-bottom: 26px;
		display: flex;
		justify-content: space-between;
		@include r(1260) {
			display: block;
		}
	}
	&__author {
		color: #6F8488;
		// font-style: italic;
		// font-size: 16px;
	}
	&__content {
		&--light {
			background-color: $light;
			margin-bottom: 80px;
			padding: 20px 20px 25px 20px;
			border-radius: 10px;
		}
	}
	&__inernal-article {
		width: 372px;
		float: right;
		display: block;
		margin-left: 20px;
		margin-top: 40px;
		margin-bottom: 40px;
		@include r(760) {
			display: none;
		}
	}
	&__info {
		margin-bottom: 40px;
		&-line {
			margin-bottom: 8px;
			color: #4F4F4F;
		}
		strong {
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			color: $dark;
		}
		a {
			font-family: $font-title;
			color: #4F4F4F;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__btns {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@include r(750) {
			display: block;
		}
		.btn {
			margin-bottom: 0;
			@include r(750) {
				margin-bottom: 15px;
			}
		}
	}
}