.modal {
	padding: 24px 40px 32px 40px;
	background-color: $light;
	margin-left: auto;
	margin-right: auto;
	max-width: 766px;
	border-radius: 10px;
	position: relative;
	@include r(750) {
		padding: 55px 20px 30px 20px;
	}
	&__header {
		margin-bottom: 35px;
		@include r(750) {
			margin-bottom: 25px;
		}
	}
	&__title {
		font-weight: bold;
		font-size: 18px;
		font-family: $font-title;
	}
	&__discript {
		font-size: 14px;
		color: #6f8488;
	}
	&__content {
		margin-bottom: 28px;
		@include r(750) {
			margin-bottom: 25px;
		}
	}
	&__toolbar {
		display: flex;
		@include r(750) {
			display: block;
		}
	}
	&__label {
		margin-bottom: 35px;
		@include r(750) {
			margin-bottom: 25px;
		}
		display: block;
		&:last-child {
			margin-bottom: 0px;
		}
	}
	&__input-title {
		margin-bottom: 15px;
	}
	&__input {
		height: 40px;
		padding-left: 20px;
		padding-right: 20px;
		background: #f4f8f8;
		border-radius: 10px;
		display: block;
		width: 100%;
		font-size: 14px;
		line-height: 19px;
		color: #333333;
		box-sizing: border-box;
		border: none;
		resize: none;
		&--textarea {
			min-height: 80px;
			height: auto;
		}
	}
	&__select {
		height: 40px;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		-webkit-appearance: none;
		appearance: none;
		background: #f4f8f8;
		border-radius: 10px;
		font-family: $font-main;
		background-image: url("../img/drop-arrow.svg");
		background-repeat: no-repeat;
		background-position: 96% center;
		border: none;
	}
	&__btn {
		border-radius: 10px;
		height: 50px;
		font-weight: 600;
		font-size: 16px;
		color: $light;
		padding-left: 30px;
		padding-right: 30px;
		border: none;
		margin-right: 20px;
		margin-bottom: 20px;
		transition: 0.3s all;
		@include r(750) {
			width: 100%;
		}
		&:hover {
			opacity: 0.7;
			cursor: pointer;
		}
		&--accept {
			background: #d82c14;
			@include r(750) {
				margin-bottom: 10px;
			}
		}
		&--cancel {
			background: #a9bbbe;
		}
	}
	&__columns {
		display: flex;
		@include r(750) {
			display: block;
		}
	}
	&__column {
		@include r(750) {
			margin-bottom: 25px;
			width: 100%;
		}
		&--left {
			margin-right: 20px;
			flex-grow: 1;
		}
		&--right {
			width: 224px;
		}
	}
	&__close {
		background-color: $accent;
		width: 26px;
		height: 26px;
		color: $light;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 1;
		top: 19px;
		right: 19px;
		position: absolute;
		border: none;
		cursor: pointer;
		transition: 0.3s all;
		font-size: 20px;
		&:hover {
			opacity: 0.7;
		}
	}
}

// .file {
// 	height: 100%;
// 	width: 100%;
// 	border: 2px dashed #cad4d4;
// 	box-sizing: border-box;
// 	border-radius: 10px;
// 	margin-bottom: 35px;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	text-align: center;
// 	font-weight: 500;
// 	color: #cad4d4;
// 	font-size: 20px;
// 	padding: 20px;
// 	&:hover {
// 		cursor: pointer;
// 		opacity: 0.7;
// 	}
// 	input {
// 		display: none;
// 	}
// }

.file {
	border-radius: 10px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.3s all;
	border: 2px solid #a9bbbe;
	color: #a9bbbe;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	&:hover {
		opacity: 0.7;
	}
	&__field {
		display: none;
	}
}
