.news {
	&__title {
		padding-top: 20px;
		font-weight: 600;
		font-size: 24px;
		text-transform: uppercase;
		color: #333333;
		margin-bottom: 20px;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		overflow: hidden;
	}
}

.article {
	position: relative;
	overflow: hidden; 
	background-color: $light;
	display: flex;
	border-radius: 10px;
	text-decoration: none;
	color: $dark;
	margin-bottom: 20px;
	&:hover {
		opacity: 0.7;
	}
	&--line {
		.tags {
			display: none;
		}
	}
	&--card {
		display: block;
		width: calc(50% - 10px);
		.article__thumb {
			height: 200px;
			width: 100%;
		}
		.article__toolbar {
			order: -1;
			margin-bottom: 10px;
		}
		.article__title {
			margin-bottom: 15px;
		}
	}
	&__thumb {
		height: 100%;
		width: 242px;
		flex-shrink: 0;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	&__content {
		padding: 12px 20px 20px 20px;
		display: flex;
		flex-direction: column;
	}
	&__tag {
		color: #A9BBBE;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 800;
		padding-left: 7px;
		padding-right: 7px;
		border: 2px solid #CAD4D4;
		box-sizing: border-box;
		border-radius: 6px;
		display: inline-block;
		width: fit-content;
		margin-bottom: 7px;
	}
	&__title {
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 4px;
		font-family: $font-title;
	}
	&__toolbar {
		color: #6F8488;
		margin-bottom: 5px;
		i {
			color: #A9BBBE;
			padding-right: 3px;
		}
	}
	&__time {
		// display: inline-block;
		margin-right: 18px;
		// padding-right: 10px;
	}
	&__text {
		color: #333333;
	}
}

.article-main {
	height: 400px;
	position: relative;
	margin-bottom: 20px;
	z-index: 1;
	overflow: hidden;
	border-radius: 10px;
	background-color: #ffffff;
	color: #ffffff;
	&__image-wrap {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		img {
			position: absolute;
			top: 0;
			left: 50%;
			display: block;
			min-width: 100%;
			height: 100%;
			transform: translateX(-50%);
			object-fit: cover;
			object-position: center;
		}
	}
	&__content-wrap {
		position: absolute;
		top: 0;
		bottom: 0;
		justify-content: flex-end;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 100%;
		background: linear-gradient(180deg, rgba(46, 54, 62, 0) 0%, rgba(46, 54, 62, 0.9) 100%);
	}
	&__content {
		padding: 17px 22px;
	}
	&__title {
		font-family: $font-title;
		font-weight: 900;
		font-size: 22px;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;  
		overflow: hidden;
		margin-bottom: 13px;
	}
	&__toolbar {
		color: #A9BBBE;
		font-size: 16px;
		i {
			padding-right: 3px;
		}
	}
	&__time {
		margin-right: 15px;
	}
	&__icon {
		width: 18px;
		height: 18px;
		display: inline-block;
		position: relative;
		top: 3px;
	}
}

.tags {
	position: static;
	left: 0px;
	top: 20px;
	display: block;
	position: absolute;
	&__item {
		background: rgba(255, 255, 255, 0.6);
		margin-bottom: 20px;
		text-transform: uppercase;
		font-weight: 800;
		padding: 6px 20px;
		display: block;
		color: $dark;
	}
}