svg, a {
	transition: 0.3s all;
}

svg, img {
	display: block;
}

.icon-svg {
	height: 1rem;
	width: 1rem;
}

i {
	font-size: inherit;
	color: inherit;
}

.icon-text {
	font-size: 12px;
	padding-left: 4px;
	padding-right: 4px;
	font-weight: 600;
	color: #A9BBBE;
	display: inline-block;
	text-transform: uppercase;
	font-family: $font-main;
	border: 1px solid #A9BBBE;
	position: relative;
	border-radius: 4px;
	top: -2px;
}

.body {
	font-family: $font-main;
	font-size: 14px;
	overflow-x: hidden;
	line-height: 1.4;
	background-color: #F4F8F8;
	&--front {
		@include r(1260) {
			.layout__sidebar--right {
				display: block !important;
			}
		}
	}
	@include r(1100) {

	}
	@include r(580) {

	}
}