svg, a {
	transition: 0.3s all;
}

svg, img {
	display: block;
}

.icon-svg {
	height: 1rem;
	width: 1rem;
}

.icon-line {
	display: inline-block;
	height: 10px;
	position: relative;
	&--camera {
		width: 16px;
		height: 16px;
		top: 3px;
	}
	&--page {
		width: 16px;
		height: 16px;
		top: 2px;
	}
	&--value {
		width: 16px;
		height: 16px;
		top: 3px;
	}
	&--pr {
		width: 25px;
		height: 17px;
		top: 3px;
	}
	&--business {
		width: 64px;
		height: 17px;
		top: 3px;
	}
	&--photo {
		width: 16px;
		height: 16px;
		top: 3px;
	}

}

.body {
	font-family: $font-main;
	font-size: 14px;
	overflow-x: hidden;
	line-height: 1.4;
	background-color: #F4F8F8;
	@include r(1100) {

	}
	@include r(580) {

	}
}