.layout {
	min-height: 100vh;
	&__header {

	}
	&__content {
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		@include r(1260) {
			flex-direction: column;
		}
	}
	&__footer {
		
	}
	&__sidebar {
		&--left {
			width: calc(100% / 12 * 2);
			@include r(1600) {
				min-width: 240px;
			}
			@include r(1260) {
				order: -1;
				width: 100%;
			}
		}
		&--right {
			width: calc(100% / 12 * 4);
			@include r(1260) {
				order: -1;
				width: 100%;
				display: none;
			}
		}
	}
	&__main {
		width: calc(100% / 12 * 6);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 20px;
		margin-right: 20px;
		@include r(1260) {
			width: 100%;
			margin: 0px; 
		}
		&--top {

		}
		&--bottom {

		}
	}
}

.container {
	width: 100%;
	max-width: 1580px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
