.text {
	line-height: 1.5;
	p {
		font-size: 16px;
		margin-bottom: 1em;
		padding-right: 44px;
		@include r(1260) {
			padding-right: 0px;
		}
	}
	blockquote {
		font-size: 16px;
		margin-bottom: 1rem;
		padding-left: 15px;
		border-left: 2px solid #CAD4D4;
		font-style: italic;
	}
	strong, b {
		font-weight: bold;
	}
	a {
		color: inherit;
		&:hover {
			text-decoration: none;
		}
	}
	i {
		font-style: italic;
	}
	figure {
		display: block;
		margin-bottom: 22px;
	}
	picture {
		display: block;
		margin-bottom: 5px;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	figcaption {
		color: #6F8488;
	}
	ul {
		list-style-type: disc;
		list-style-position: inside;
		margin-bottom: 2em;
		line-height: 2;
	}
	ol {
		list-style-type: decimal;
		list-style-position: inside;
		margin-bottom: 2em;
		line-height: 2;
	}
}

.columns {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@include r(760) {
		display: block;
	}
	&__col {
		width: calc(50% - 10px);
		@include r(760) {
			width: 100%;
			margin-bottom: 20px;
		}
	}
}

.accent-block {
	display: inline-block;
	background-color: $accent;
	color: $light;
	background: $accent;
	border-radius: 6px;
	padding: 4px 7px;
	margin-left: 6px;
	margin-right: 6px;
}

.audio {
	background: $light;
	border-radius: 10px;
	display: flex;
	padding: 15px 12px;
	margin-bottom: 1rem;
	font-size: 14px;
	align-items: center;
	&__btn {
		flex-shrink: 0;
		margin-right: 20px;
		height: 38px;
		width: 38px;
		background-color: $accent;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		border-radius: 30px;
		transition: 0.3s all;
		&:hover {
			cursor: pointer;
			opacity: 0.7;
		}
		&--disabled {
			pointer-events: none;
			opacity: 0.6;
		}
		&--pause {
			.audio__btn-icon--play {
				display: block;
			}
			.audio__btn-icon--pause {
				display: none;
			}
		}
		&--playing {
			.audio__btn-icon--play {
				display: none;
			}
			.audio__btn-icon--pause {
				display: block;
			}
		}
	}
	&__main {
		min-width: 0px;
		flex-grow: 1;
	}
	&__time {
		text-align: right;
		font-weight: bold;
		color: #CAD4D4;
	}
	&__progress {
		height: 2px;
		position: relative;
		width: 100%;
		display: block;
		background-color: #CAD4D4;
	}
	&__now {
		background-color: $accent;
		display: block;
		height: 100%;
	}
	&__name {
		color: #6F8488;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.volume {
	margin-left: 25px;
	&__bar-full {

	}
	&__bar-empty {
		width: 158px;
		height: 2px;
		display: block;
		background-color: #CAD4D4;
	}
	&__btn {
		width: 18px;
		height: 18px;
		border-radius: 50px;
		background-color: $accent;
		cursor: pointer;
		position: absolute;
		top: 50%;
	}

}

.comments {
	margin-bottom: 20px;
}