.text {
	p {
		font-size: 16px;
		margin-bottom: 1rem;
		padding-right: 44px;
	}
	strong, b {
		font-weight: bold;
	}
	a {
		color: inherit;
		&:hover {
			text-decoration: none;
		}
	}
	figure {
		display: block;
		margin-bottom: 22px;
	}
	picture {
		display: block;
		margin-bottom: 5px;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	figcaption {
		color: #6F8488;
	}
}

.accent-block {
	display: inline-block;
	background-color: $accent;
	color: $light;
	background: $accent;
	border-radius: 6px;
	padding: 4px 7px;
	margin-left: 6px;
	margin-right: 6px;
}